# Compiled Object files
*.slo
*.lo
*.o
#*.obj #this is the extension for wavefront object files

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Output Directory
bin

# Thanks
*.sw*

.DS_Store
